.circle1{
    width: 25rem;
    height: 25rem;
    background-color: dodgerblue;
    position: absolute;
    left: 10rem;
    top: 5rem;
    border: 2px solid black;
    border-radius: 100%;  
}
.num5{
    position: absolute;
    top: 12rem;
    margin-left: 0.8rem;  
}
.circle2{
    width: 21rem;
    height: 21rem;
    left: 10rem;
    top: 6rem;
    background-color: dodgerblue;
    position: absolute;
    border: 2px solid black;
    border-radius: 100%;
    margin-left: 2rem;
    margin-top: 1rem; 
}
.num6{
    position: absolute;
    top: 17.1rem;
    margin-left: 0.8rem;
    left: 12rem;
}
.circle3{
    width: 17rem;
    height: 17rem;
    left: 10rem;
    top: 7rem;
    background-color: red;
    position: absolute;
    border: 2px solid black;
    border-radius: 100%;
    margin-left: 4rem;
    margin-top: 2rem; 
}
.num7{
    position: absolute;
    top: 17.1rem;
    margin-left: 0.8rem;
    left: 14rem;
}
.circle4{
    width: 13rem;
    height: 13rem;
    left: 12rem;
    top: 9rem;
    background-color: red;
    position: absolute;
    border: 2px solid black;
    border-radius: 100%;
    margin-left: 4rem;
    margin-top: 2rem; 
}
.num8{
    position: absolute;
    top: 17.1rem;
    margin-left: 0.8rem;
    left: 16rem;
}
.circle5{
    width: 9rem;
    height: 9rem;
    left: 14rem;
    top: 11rem;
    background-color: yellow;
    position: absolute;
    border: 2px solid black;
    border-radius: 100%;
    margin-left: 4rem;
    margin-top: 2rem; 
}
.num9{
    position: absolute;
    top: 17.1rem;
    margin-left: 0.8rem;
    left: 18rem;
   
}
.circle6{
    width: 5rem;
    height: 5rem;
    left: 16rem;
    top: 13rem;
    background-color: yellow;
    position: absolute;
    border: 2px solid black;
    border-radius: 100%;
    margin-left: 4rem;
    margin-top: 2rem; 
}
.num10{
    position: absolute;
    top: 17.2rem;
    margin-left: 0.8rem;
    left: 19.8rem;
    font-size: small;
   
}
.num11{
    position: absolute;
    top: 17.1rem;
    margin-left: 0.8rem;
    left:21.5rem;
    font-size: small;
}
.circle6{
    width: 4.8rem;
    height: 4.8rem;
    left: 16.1rem;
    top: 13.2rem;
    background-color: transparent;
    position: absolute;
    border: 2px solid black;
    border-radius: 100%;
    margin-left: 4rem;
    margin-top: 2rem; 
}
.circle7{
    width: 2rem;
    height: 2rem;
    left: 17.5rem;
    top: 14.6rem;
    background-color: transparent;
    position: absolute;
    border: 2px solid grey;
    border-radius: 100%;
    margin-left: 4rem;
    margin-top: 2rem; 
}
